.input-wrapper{
  margin: 1rem auto;
  padding: 1rem;
  height: 22rem;
  width: 90%;
  background-color: rgb(160, 156, 156);
  border-radius: 10px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}