.input-wrapper{
  margin: 1rem auto;
  padding: 1rem;
  height: 22.3rem;
  width: 90%;
  background-color: rgb(160, 156, 156);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  place-items: start;
  column-gap: 0.2rem;
  grid-template-rows: 1fr;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
  }

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(167, 164, 164, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(20, 19, 19, 0.5);
}

@media (max-width : 800px){
  .input-wrapper{
    grid-template-columns: 1.5fr 20fr;
  }
}

@media (max-width : 500px){
  .input-wrapper{
    grid-template-columns: 2fr 20fr;
  }
}