.custom-input{
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    background-color: rgb(160, 156, 156);
    border-radius: 15px;
    display: grid;
    place-items: center;
}

.input{
    padding: 0 0.3rem 0;
    background-color: #2b2e4a;
    border-radius: 10px;
    width: 100%;
}

.label{
    color : black;
    font-size : large;
    font-family : 'Saira Condensed', sans-serif;
    display: flex;
    justify-content: center;
}
