.out-wrapper{
    margin: 1rem auto;
    padding: 1rem;
    height: 13rem;
    width: 90%;
    background-color: rgb(160, 156, 156);
    border-radius: 10px;
}

.output{
    background-color: black;
    margin: 0.5rem 0.2rem;
    border-radius: 10px;
    height: 70%;
}

.status{
    display: grid;
    place-items: center;
}

.exec-info{
    margin: 0.5rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.output-lines{
    width: 99%;
}